@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@500&display=swap');
@import "../../../../styles/colors.scss";
@import "../../../../styles/dimensions.scss";

.benefits {
    margin-top: 100px;
}

.mainHeading {
    color: #033074;
    font-size: 40px;
    font-family: Montserrat;
}

.benefit {
    padding: $normalPadding;
    margin: $normalMargin;
    margin-top: $moreSpacedMargin;
}

.imgContainer {
    border-radius: $roundedCorners;
    overflow: hidden;
}

.heading {
    font-size: 30px;
    font-family: Montserrat;
    color: $primaryColor;
}

.desc {
    font-size: 20px;
    font-family: Roboto;
}