@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@500&display=swap');
@import "../../../../styles/colors.scss";
@import "../../../../styles/dimensions.scss";

.benefits {
    margin-top: 100px;
}

.mainHeading {
    color: #033074;
    font-size: 40px;
    font-family: Montserrat;
}

.imgContainer {
    border-radius: $roundedCorners;
    overflow: hidden;
}

.heading {
    font-size: 25px;
    font-family: Montserrat;
    color: $primaryColor;
    margin-top: $normalMargin;
    margin-bottom: $normalMargin;
    display: inline;
}


.desc {
    font-size: 20px;
    font-family: Roboto;
}