// Padding dimensions

$veryTightPadding : 2px;
$tightPadding : 5px;
$normalPadding : 10px;
$loosePadding : 15px;
$veryLoosePadding : 20px;
$spacedPadding : 30px;
$moreSpacedPadding : 50px;

// Margin dimensions

$veryTightMargin : 2px;
$tightMargin : 5px;
$normalMargin : 10px;
$looseMargin : 15px;
$veryLooseMargin : 20px;
$spacedMargin : 30px;
$moreSpacedMargin : 50px;

// Radius dimensions

$roundedCorners : 6px;
$roundedEdged : 30px;
$circle: 100%;