@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import "../../styles/colors.scss";
@import "../../styles/dimensions.scss";

.header {
    background-color: $primaryBackgroundColor;
    color: $secondaryColor;
    height: 50px;
    padding: $loosePadding;
    margin-bottom: $veryLooseMargin;
    font-family: Roboto;
}